*.suo
AcumenSystemTests/AcumenSystemTests/bin/Debug/AcumenSystemTests.dll
AcumenSystemTests/AcumenSystemTests/bin/Debug/AcumenSystemTests.pdb
AcumenSystemTests/AcumenSystemTests/bin/Debug/geckodriver.exe
AcumenSystemTests/AcumenSystemTests/bin/Debug/nunit.framework.xml
AcumenSystemTests/AcumenSystemTests/bin/Debug/nunit.framework.dll
AcumenSystemTests/AcumenSystemTests/bin/Debug/WebDriver.pdb
AcumenSystemTests/AcumenSystemTests/bin/Debug/WebDriver.Support.dll
AcumenSystemTests/AcumenSystemTests/bin/Debug/WebDriver.Support.pdb
AcumenSystemTests/AcumenSystemTests/bin/Debug/WebDriver.dll
AcumenSystemTests/AcumenSystemTests/bin/Debug/WebDriver.Support.xml
AcumenSystemTests/AcumenSystemTests/bin/Debug/WebDriver.xml
AcumenSystemTests/AcumenSystemTests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AcumenSystemTests/AcumenSystemTests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AcumenSystemTests/AcumenSystemTests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AcumenSystemTests/AcumenSystemTests/obj/Debug/AcumenSystemTests.dll
AcumenSystemTests/AcumenSystemTests/obj/Debug/AcumenSystemTests.pdb
AcumenSystemTests/AcumenSystemTests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AcumenSystemTests/AcumenSystemTests/obj/Debug/AcumenSystemTests.csproj.FileListAbsolute.txt
AcumenSystemTests/AcumenSystemTests/obj/Debug/AcumenSystemTests.csprojResolveAssemblyReference.cache